import { Component, OnInit } from "@angular/core";

@Component({
  selector: "plugin-<%= selector %>",
  templateUrl: "./<%= dasherize(name) %>.component.html",
  styleUrls: ["./<%= dasherize(name) %>.component.scss"],
})
export class <%= classify(name) %>Component implements OnInit {
  title = "<%= classify(name) %>";

  constructor() {}

  ngOnInit() {}
}
